<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test   thread-count="4" name="chromeTest">
  <parameter name="browsername" value="chrome"></parameter>
    <classes>
      <class name="PomClass.TC04VerifyAllProductsFunctionality"/>
      <class name="PomClass.TC03_VerifyAddToCartFunctionality"/>
      <class name="PomClass.TC01_VerifyLoginFunctionality"/>
      <class name="PomClass.TC02_VerifyLogoutFunctionality"/>
    </classes>
  </test> <!-- Test -->
  <test   thread-count="4" name="firefoxTest">
  <parameter name="browsername" value="Firefox"></parameter>
    <classes>
      <class name="PomClass.TC04VerifyAllProductsFunctionality"/>
      <class name="PomClass.TC03_VerifyAddToCartFunctionality"/>
      <class name="PomClass.TC01_VerifyLoginFunctionality"/>
      <class name="PomClass.TC02_VerifyLogoutFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
